/* ALL PAGES */
body {
     background: url("http://www.mikebartonphoto.com/images/large/FlatironSummerPanorama4.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.navbar {
     height: 150px;

}

nav .brand-logo {
     padding-top: 30px;
     padding-left: 15px;
}

.brand-logo:hover {
     color: #44596e;
}

.link:hover {
     text-decoration: none;
     background-color: #ee6e73;
}

.right {
     padding-top: 30px;
}

/* HOME PAGE */
.home-image {
     border-radius: 250px;
     width: 300px;
     height: 450px;
}

.home-text {
     height: 200px;
     background-color: #ee6e73;
     margin-top: 150px;
     color: white;
}

.link-text {
     color: white;
}

.link-text:hover {
     text-decoration: none;
}

.home-list {
     padding: 30px;
}
